@{ 
    ViewData["Title"] = "About Love Gaming";
}
<div class="row">
    <h1 class="col-sm-12">Love Gaming</h1>
    <div class="col-sm-6">
        <p>
            Our company was founded in 2020 by famous Video Gamer Dylan.
            The company works extensively to bring top reccomendations and reviews to
            video gamers all around the world.

        </p>
        <p>
            Our goal is to make finding the next video game to play simple.
            We base our reccomendations off of your play style and the games you like.
        </p>
    </div>
    <div class="col-sm-6">
        <img src="~/Images/gaming.png" alt="game remote" class="img-fluid rounded-circle" />
    </div>
</div>