@{ 
    ViewData["Title"] = "Love Gaming!";
}
<img src="~/Images/gaming.png" alt="gaming remote" class="img-fluid rounded-circle" />
<h2>Love Gaming</h2>
<h3>The app you need to discover your next favorite game!</h3>

<address>
    101 Vivid Park Dr<br />
    VideoGame City, FL 90010<br />
    <abbr title="Phone">P:</abbr>
    800.LOVE.GAMING
</address>

<address>
    <strong>Customer Support:</strong> <a href="mailto:Support@LoveGaming.com">Support@LoveGaming.com</a><br />
    <strong>Careers:</strong> <a href="mailto:Careers@LoveGaming.com">Careers@LoveGaming</a>
</address>
